<script type="text/ng-template" id="gifSearch">
    <h1>Search Gif</h1>
    <span>
	<table>
		<tbody>
		<tr>
			<td/>
			<td/>
			<td/>
			<td align="right"><input class="filter-message" placeholder="Gif search term" name="gifname" type="text"
                                     width="100%" ng-model="gifname"/></td>
			<td align="right"><input name="search" type="submit" value="Search" class="button" ng-click="loadAndShowGifs()"/></td>
		</tr>
		</tbody>
	</table>
	<table>
		<tbody>
        <tr ng-repeat="gifRow in gifs track by $index">
            <td ng-repeat="gif in gifRow track by $index"><img height="100px" src={{gif.gif}} class={{gif.class}} ng-click="selectMeme(gif)"></td>
        </tr>
		</tbody>
	</table>
	<table>
		<tbody>
		<tr>
			<td/>
			<td align="right"><a ng-click="modalService.closeAll();">Cancel</a></td>
			<td align="right"><a ng-click="findNextGifs();">Next</a></td>
			<td align="right"><button class="button" ng-click="addGif(message)">Add Gif</button></td>
		</tr>
		</tbody>
	</table>
  </span>
</script>
<script type="text/ng-template" id="memeSearch">
    <h1>Search Meme</h1>
    <span>
	<table>
		<tbody>
		<tr>
			<td align="right"><input class="filter-message" placeholder="Gif search term" name="gifname" type="text"
                                     width="100%" ng-model="gifname"/></td>
			<td align="right"><input name="search" type="submit" value="Search" class="button" ng-click="loadAndShowMemes()"/></td>
		</tr>
		<tr>
			<td align="right"><input class="filter-message" placeholder="Top text" name="memeTop" type="text" width="100%" ng-model="mameTop"/></td>
			<td align="right"><input class="filter-message" placeholder="Bottom text" name="memeBottom" type="text" width="100%" ng-model="memeBottom"/></td>
		</tr>
		</tbody>
	</table>
	<table>
		<tbody>
        <tr ng-repeat="gifRow in gifs track by $index">
            <td ng-repeat="gif in gifRow track by $index"><img height="100px" src={{gif.gif}} class={{gif.class}} ng-click="selectMeme(gif)"></td>
        </tr>
		</tbody>
	</table>
	<table>
		<tbody>
		<tr>
			<td/>
			<td align="right"><a ng-click="modalService.closeAll();">Cancel</a></td>
			<td align="right"><a ng-click="findNextGifs();">Next</a></td>
			<td align="right"><button class="button" ng-click="addMeme(message)">Add Meme</button></td>
		</tr>
		</tbody>
	</table>
  </span>
</script>