<p style="text-align: right;"><input name="gifname" type="text" /> <input name="search" type="submit" value="Search"/></p>
<table style="height: 263px;" width="832">
<tbody>
<tr style="height: 18px;">
<td style="height: 18px; width: 159px;">&nbsp;</td>
<td style="height: 18px; width: 159px;">&nbsp;</td>
<td style="height: 18px; width: 160px;">&nbsp;</td>
<td style="height: 18px; width: 160px;">&nbsp;</td>
<td style="height: 18px; width: 160px;">&nbsp;</td>
</tr>
<tr style="height: 22px;">
<td style="height: 22px; width: 159px;">&nbsp;</td>
<td style="height: 22px; width: 159px;">&nbsp;</td>
<td style="height: 22px; width: 160px;">&nbsp;</td>
<td style="height: 22px; width: 160px;">&nbsp;</td>
<td style="height: 22px; width: 160px;">&nbsp;</td>
</tr>
</tbody>
</table>
<p style="text-align: right;"><input name="submit" type="submit" /></p>